<form action="confirmacion" method="get">
  <div class="form-group">
    <label for="Destino">Destino</label>
    <input type="text" class="form-control" id="Destino" >
  </div>
  <div class="form-group">
    <label for="Origen">Origen</label>
    <input type="text" class="form-control" id="Origen" >
  </div>
  <div class="form-group">
    <label for="Fecha">Fecha</label>
    <input type="date" id="Fecha">
  </div>

  <button type="submit" class="btn btn-default">Enviar</button>
</form>

