<h1>Listado de Choferes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drivers.each do |user| %>
      <tr>
        <td><%= link_to user.nombre + " " + user.apellido, user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <% if current_user.admin? && !current_user?(user) %>
          <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Esta seguro que desea eliminar este usuario?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
